*{
    margin: 0;
    padding: 0;
}
#logoDiv{
    height: 90px;
    background: #4EA0FF url("../img/pattern.png") repeat-x top center;
    background-size: 350px 175px;
}
#logoDiv img{
    height: 40px;
    padding-left: 5px;
    padding-top: 40px;
}